.jumbotron {
  padding: 0 !important;
  background: transparent;
}
.navbar-brand {
  text-transform: uppercase;
}

#last-name {
  font-weight: 900;
}

.gradient-main {
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  position: relative;
  width: 100%;
  max-height: 90vh;
  // -webkit-clip-path: polygon(0% 0%, 100% 0%,100% 65%,0% 90%);
  // clip-path: polygon(0% 0%, 100% 0%,100% 65%,0% 90%);
}

#infra-blueprint-col {
  z-index: 5;
}

#infra-blueprint {
  background-image: url("../images/ameyrupji.com-blueprint.png");
  width: 1067px;
  height: 600px;
  transform: scale(0.8);
  margin-left: -15vh;
  overflow-clip-box: padding-box;
  overflow-clip-box: content-box;
}

#powered-by-col {
  z-index: 10;
}

#powered-by {
  color: white;
  margin-top: 100px;

  #website-btns {
    padding-top: 20px;
  }
}

.title-strong {
  font-weight: 900;
  text-transform: uppercase;
}


#jumbotron-content {
  padding-top:100px;
  color:#fff;
  text-align: center;
  font-weight: 200;
  border-radius: 0;
  overflow: hidden;

  i.powered-by {
    font-size:50px;
    margin-right: 20px
  }
}

#jumbotron-content h3,
#jumbotron-content h1 {
  font-weight: 200;
}

.scroll-container {
  position: absolute;
  bottom: 40%;
  left: 10px;
}

.scroll-container .unu {
  margin-top: 6px;
}

.scroll-container .unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.scroll-container .unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.scroll-container .doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.scroll-container .trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

.scroll-container span
{
  display: block;
  width: 10px;
  height: 10px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 6px;
}

.scroll-container .mouse
{
  height: 35px;
  width: 24px;
  border-radius: 17px;
  transform: none;
  border: 2px solid #fff;
  top: 170px;
}

.scroll-container .wheel
{
  height: 8px;
  width: 3px;
  display: block;
  margin: 5px auto;
  background: #fff;
  position: relative;
  border-radius: 1px;
}

.scroll-container .wheel
{
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel
{
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}


/* Extra small devices (phones, 544px and down) */
@media only screen and (max-width: 544px) {
  #infra-blueprint {
    transform: scale(0.7);
    margin-left: -40vh;
    margin-top: -10vh;
  }

  #powered-by {
    margin-top: 10px;
  }

  .scroll-container {
    .mouse {
      display: none;
    }
  }
} 

/* Small devices (portrait tablets and large phones, 544px and up) */
@media only screen and (min-width: 544px) {
  #infra-blueprint {
    transform: scale(0.8);
    margin-left: -10vh;
    margin-top: -10vh;
  }

  #powered-by {
    margin-top: 20px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #infra-blueprint {
    transform: scale(0.9);
    margin-left: -20vh;
    margin-top: 0;
  }
  
  #powered-by {
    margin-top: 30px;
  }
  
  .navbar #burger {
    width: 18px;
    height: 8px;
    position: relative;
    display: block;
    margin: -8px auto 0;
    top: 50%;
  }

  .navbar #burger .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: #fff;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0s;
  }

  .navbar #burger .bar.top {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }

  .navbar #burger .bar.bottom {
    -webkit-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
  }

  .navbar.navbar-open #burger .bar {
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.2s;
  }

  .navbar.navbar-open #burger .bar.top {
    -webkit-transform: translateY(4px) rotate(45deg);
            transform: translateY(4px) rotate(45deg);
  }

  .navbar.navbar-open #burger .bar.bottom {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  #image-back-main h1.title {
    font-size: 50px;
  }

  #image-back-main h3.title {
    font-size: 20px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #infra-blueprint {
    transform: scale(1);
    margin-left: -25vh;
  }

  #powered-by {
    #website-btns {
      padding-top: 40px;
    }
  }
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #infra-blueprint {
    transform: scale(1);
    margin-left: -30vh;
  }
}