
#gradient-main {
  background-color: rgba(0, 0, 0, 0);
  background: rgba(53, 92, 125, 1);
}

@media (prefers-color-scheme: dark) {
  #gradient-main {
    background-color: rgba(0, 0, 0, 0);
    background: #1f374b;
  }
}
