#resources-main {
    .title {
        color: #000;
    }

    .btn-group {
        border: 3px solid #ddd;
        border-radius: 6px;
        
        .btn-primary {
            border-color: rgba(53, 92, 125, 1);
            background-color: rgba(53, 92, 125, 1);
        }
    }
}

@media (prefers-color-scheme: dark) {
    #resources-main {
        .title {
            color: #fff;
        }

        .btn-group {
            border: 1px solid #aaa;
        }
    
        .btn-primary {
            background-color: rgba(53, 92, 125, 1);
        }

        .resource-card {
            background-color: #161719;
            color:#fff;
            border-color: #aaa;
        }
    }
}